*{
			box-sizing: border-box;
		}
		body{
			background-color: #a700d9;
			font-family: "Arial", sans-serif;
			padding: 50px;
		}
		.container{
			margin: 20px auto;
			padding: 10px;
			width: 300px;
			height: 400px;
			background-color: #fff;
			border-radius: 5px;
		}
		 h1{
		 	width: 70%;
			color: #777;
			font-size: 32px;
			margin: 28px auto;
			margin-bottom: 20px;
			text-align: center;
			/*padding-top: 40px;*/
		}
		form{
			/*padding: 15px;*/
			text-align: center;
		}
		input{
			padding: 12px 0;
			margin-bottom: 10px;
			border-radius: 3px;
			border: 2px solid transparent;
			text-align: center;
			width: 90%;
			font-size: 16px;
			transition: border .2s, background-color .2s;
		}
		form .field{
			background-color: #ECF0F1;
		}
		form .field:focus {
			border: 2px solid #e00070;
		}
		form .btn{
			background-color: #e00070;
			color: #fff;
			line-height: 25px;
			cursor: pointer;
		}
		form .btn:hover,
		form .btn:active {
			background-color: #e00070;
			border: 2px solid #e00070;
		}
		.pass-link{
			text-align: center;
		}
		.pass-link a:link,
		.pass-link a:visited{
			font-size: 12px;
			color: #777;
		}
