<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->

<!--=============================== CSS for local testing
<link rel="stylesheet" type="text/css" href="../static/css/util.css">
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
========================================-->

</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="columns">
				<div class="columns__last-songs">
          {% if len > 0 %}
          <h2>Songs analyzed ⟶</h2>
          <ol>
            {%for i in range(0, len)%}
            <li>{{songs[i]}}</li>
            {%endfor%}
          </ol>
          {% else %}
          We could not analyze any of your songs.
          {% endif %}
        </div>
				<div class="columns__analysis">
          <div class="happysad">
          <!--=============================== logo for local testing
            <img class="happysad__logo" src="../static/images/happysadlogo.png" alt="happy sad songs logo -- a record playing in reverse">
          ========================================-->

            <img class="happysad__logo" src="{{ url_for('static', filename='images/happysadlogo.png') }}"
                    alt="happy sad songs logo -- a record playing in reverse">

            <div class="happysad__text">
              <h1 class="happysad__title">
              happysadsongs</h1>
              <p class="happysad__tagline">Change your music.  <span class="happysad__tagline_span_blue">Change your mood.</span></p>
            </div>
          </div>
          <div class="results">
            <h2>Your music mood ⟶</h2>
            {% if overall_pred AND avg_valence %}
          <p class="results__text">
            Your last 10 songs are mostly <span class="bold">lyrically {% if overall_pred == 1 %} sad/angry {% else %} happy {% endif %}</span> and
            <span class="bold">musically</span> on the <span class="bold">{% if avg_valence <= 0.5 %} sadder/angrier {% else %} happier {% endif %}</span> side.
          </p>
          <h2>Mix it up ⟶</h2>
          <p class="results__text">
            Play a <span class="bold">{% if session['overall_pred'] == 1 %} happier {% else %} sad or angry {% endif %} song</span>?
          </p>
          <input type="button" onclick="location.href='/playsong'" value="Play" />
          {% else %}
          We couldn't analyze your recently played songs :(.
          {% endif %}

          </div>
				</div>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->

</body>
</html>
