<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
  <h1>Music Predictor</h1>
  <form action="#" method="POST">
    {% if session['token']%}
      <input type="button" onclick="location.href='/listplayed'" value="Recent List" />
      <input type="button" onclick="location.href='/listplayedlyrical'" value="Recent List w/ Lyrics" />
      <br>
      <form action="/lyrics" method="GET">
        <input type="text" id="name" name="name" placeholder="Song Name">
        <button type="submit" value="Submit">Get Lyrics</button>
      </form>
    {% else %}
      <input type="button" onclick="location.href='/login'" value="Log In" />
    {% endif %}
  </form>
  <div class="pass-link">
  </div>
</div>
