<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
  <h1>Music Predictor</h1>
  <form action="#" method="POST">
    {% if session['token']%}
      <input type="button" onclick="location.href='/listplayed'" value="Recent List" />
      <input type="button" onclick="location.href='/listplayedlyrical'" value="Recent List w/ Lyrics" />
      <input type="button" onclick="location.href='/listplayedfeatures'" value="Recent List w/ Features" />
      <input type="button" onclick="location.href='/listplayedfull'" value="Recent List Full" />
    {% else %}
      <input type="button" onclick="location.href='/login'" value="Log In" />
    {% endif %}
  </form>
  <div class="pass-link">
  </div>
</div>
